footer(class="footer")
  div(class="footer__col")
    span(class="footer__heading") Shop
    span(class="footer__item") This
    span(class="footer__item") is just
    span(class="footer__item") a test
  div(class="footer__col")
    span(class="footer__heading") Contact
    span(class="footer__item") +7 (123) 123-12-12
    span(class="footer__item email") example@exmpl.com
    div(class="footer__media")
      a(class="fab fa-facebook" href="#")
      a(class="fab fa-instagram" href="#")
      a(class="fab fa-vk" href="#")
      a(class="fab fa-medium-m" href="#")
  div(class="footer__col")
    span(class="footer__heading") Address
    span(class="footer__item") Yekaterinburg
    span(class="footer__item") 128 Mira st.
    span(class="footer__item") Office 25