div(class="header")
  img(
    src="images/bg.png"
    class="header__img"
  )
  div(class="header__content")
    span(class="content__heading") Video Shop
    span(class="content__subheading")
      a(href="#main-content") See better.